<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One to One relationship model</title>
    <style>
        .table,th,tr,td{
            border:1px solid black
        }
    </style>
</head>
<body><a href="{% url 'home' %}">Home</a>
    <h2>Many to One relationship model</h2>
    <table><h2>All data</h2>
        <th>Song Name</th>
        <th>Written By</th>
        <th>Song Duration</th>
        {% for d in dataall %}
        <tr>
            <td>{{d.song_name}}</td>
            <td>{{d.user}}</td>
            <td>{{d.song_duration}}</td>
        </tr>
        {% endfor%}
    </table><hr>
    <table><h2>All data</h2>
        <th>Song Name</th>
        <th>Written By</th>
        <th>Song Duration</th>
        {% for d in data2 %}
        <tr>
            <td>{{d.song_name}}</td>
            <td>{{d.user}}</td>
            <td>{{d.song_duration}}</td>
        </tr>
        {% endfor%}
    </table><hr>
    <table><h2>All data</h2>
        <th>Song Name</th>
        <th>Written By</th>
        <th>Song Duration</th>
        {% for d in data3 %}
        <tr>
            <td>{{d.song_name}}</td>
            <td>{{d.user}}</td>
            <td>{{d.song_duration}}</td>
        </tr>
        {% endfor%}
    </table><hr>
</body>
</html>